.map-container {
  position: relative;

  .logo {
    display: none;
  }

  .disclaimer {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(255,255,255,0.5);
    color: #404040;
    padding: 0 5px;
    width: 280px;
  }

  .bike-rack-icon {
    width: 20px;
    height: 20px;
    background: url('../img/bike_parking_marker.svg') 0 0 no-repeat;
    background-size: 20px 20px;
    cursor: auto;
  }

  .bike-shop-icon {
    width: 24px;
    height: 24px;
    background: url('../img/bike_shop_marker.png') 0 0 no-repeat;
    background-size: 24px 24px;
  }

  .construction-icon {
    width: 24px;
    height: 24px;
    background: url('../img/construction_marker.svg') 0 0 no-repeat;
    background-size: 24px 24px;
  }
}

@media only screen and (min-width: 667px) {
  .map-container {
    margin-left: 300px;

    .map {
      min-height: 400px;
    }

    .disclaimer {
      width: auto;
    }

    .logo {
      display: block;
      position: absolute;
      top: 0;
      left: 52px;
      width: 47px;
      height: 47px;
      z-index: 10;
      background: $white;
      padding: 5px;
      border: 1px solid $border;
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
