.map-container {
  position: relative;
  padding-top: 37px;

  .logo {
    display: none;
  }

  .map-button-top {
    display: block;
    position: absolute;
    top: 49px;
    left: 50%;
    z-index: 10;
    margin-left: -60px;
  }
}

@media only screen and (min-width: 667px) {
  .map-container {
    margin-left: 300px;
    padding-top: 0;

    .map {
      min-height: 400px;
    }

    .map-button-top {
      top: 5px;
      margin-left: 0;
    }

    .logo {
      display: block;
      position: absolute;
      top: 0;
      left: 52px;
      width: 127px;
      height: 47px;
      z-index: 10;
      background: $white;
      padding: 5px;
      border: 1px solid $border;
      border-top: 0;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
