.map-layers {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: $white;
  border: 1px solid $border;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;

  .close-box {
    position: absolute;
    top: 2px;
    right: 2px;
    color: $grey;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
  }

  .map-layer-legend {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: -6px;
    margin: 4px;

    &.class1 {
      background: #fcf4db;
      border-top: 1px solid #f47b50;
      border-bottom: 1px solid #f47b50;
      height: 3px;
      vertical-align: -2px;
    }

    &.class2 {
      border-top: 3px solid #eb653b;
      height: 0px;
      vertical-align: -2px;
    }

    &.class3 {
      border-top: 3px dashed #cf4328;
      height: 0px;
      vertical-align: -2px;
    }

    &.bikeParking {
      background: url('../img/bike_parking_marker.svg') 0 0 no-repeat;
      background-size: 15px 15px;
    }

    &.bikeShops {
      background: url('../img/bike_shop_marker.png') 0 0 no-repeat;
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
      margin: 2px;
    }

    &.construction {
      background: url('../img/construction_marker.svg') 0 0 no-repeat;
      background-size: 15px 15px;
    }
  }

  label {
    padding-right: 10px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}

.map-layers-open-box {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: $white;
  border: 1px solid $border;
  border-top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transform: rotate(90deg);
  transform-origin: right bottom 0;
}

@media only screen and (min-width: 667px) {
  .map-layers {
    .close-box {
      display: none;
    }
  }
}
