.map-layers {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: $white;
  border: 1px solid $border;
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;

  .map-layer-legend {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: -6px;
    margin: 4px;

    &.class1 {
      background: #003366;
    }

    &.class2 {
      background: #0066CC;
    }

    &.class3 {
      background: #3399FF;
    }

    &.bikeParking {
      background: url('../img/bike_parking_marker.svg') 0 0 no-repeat;
      background-size: 15px 15px;
    }

    &.bikeShops {
      background: url('../img/bike_shop_marker.png') 0 0 no-repeat;
      background-size: 19px 19px;
      width: 19px;
      height: 19px;
      margin: 2px;
    }

    &.construction {
      background: url('../img/construction_marker.svg') 0 0 no-repeat;
      background-size: 15px 15px;
    }
  }

  label {
    padding-right: 10px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}
