$grey: #737c81;
$lightish-grey: #ebeae6;
$light-grey: #f5f4f1;
$dark-grey: #2c3032;
$blue: #4ab4f0;
$green: #dff0d7;
$dark-green: #5ab43b;
$white: #fff;
$content-background: #faf9f7;
$border: #d8d7d3;
$modal-backdrop: rgb(249, 248, 246);
$box-shadow: rgba(0, 0, 0, .15);

$button-blue: #82c9f1;
